<template>
 <div class="container mx-auto bg-slate-400 w-96 h-96 flex flex-col justify-center text-center py-10">
      <div  class="flex space-x-5 justify-center">
        <input-items class="mb-5" v-for="(box,index) in inbox" :key="index" :item="box" :index="index" :result="result" :inbox="inbox">
        </input-items>
      </div>
     
 </div>
  <div class="container mx-auto w-[370px] bg-cyan-200 flex flex-wrap">
    <wordle-items 
      v-for="item in keyboard"
      :key="item.id"
      :letter="item"
      @btn="action(item)"
    >
    </wordle-items>
    <button @click="removeItem">Del</button>
  </div>
</template>
<script>
import wordleItems from './wordleItems.vue'
import InputItems from './InputItems.vue'
export default {
  components: {
    wordleItems,
    InputItems
  },
  data() {
    return {
      keyboard: [
        "E", "R", "T", "Y", "U", "I", "O", "P", "Ğ", "Ü", "A", "S", "D", "F", "G", "H", "J", "K", "L", "Ş", "İ", "Z", "C", "V", "B", "N", "M", "Ö", "Ç",
      ],
      inbox: [],
      stil: "bg-white",
    
      result: [],
      
    }
  },
  mounted() {
    this.getWords()
  },
  methods: {
    action(item) {
      this.stil = 'bg-white'
      if(this.inbox.length <= 4) {
        this.inbox.push(item.toLowerCase())
      }
      
    },
    removeItem() {
      this.inbox.pop()
      //this.result = local.split()
    },

    getWords() {
     fetch("/data.json").then(res => res.json())
          .then(data => {
            console.log(data[0].name.split(''));
            const TodayWord = data[Math.floor(Math.random() * data.length)]
            localStorage.setItem('word of the day', TodayWord.name)
            this.result = localStorage.getItem('word of the day').split('')

          })  
      }
       
  },

}
</script>