 <template>
     <div :class="style" class="w-10 h-10">
        <h1> {{item}} </h1>
     </div>
 </template>

<script>
export default {
    props: {
        item: {
            type: String,
            required: true
        },
        result: {
            type: Array,
            required: true
        },
        index: {
            type: [String, Number]
        },

        inbox: {
            type: Array,
            required: true
        }
        
        
    },
    methods: {
    
    hasLetter(item) {
      return this.result.includes(item)
    },
    isPosition (item, index) {
      return this.result[index] === item
    },
    },
    computed: {
        style() {
    
         if(this.inbox.length == 5) {
             if(this.hasLetter(this.item) && this.isPosition(this.item, this.index)) {
            return 'bg-green-500'
            }
            if(this.hasLetter(this.item)) {
                return 'bg-yellow-500'
            }
            else {
                return 'bg-red-500'
            }
         } else {
             return 'bg-white'
         }
        
        }
    }
}
</script>