<template>
    <div class="">
        <button @click="$emit('btn')" class="bg-slate-300 mx-1 my-2 p-2"> {{letter}} </button>
    </div>
</template>

<script>
export default {
    props: ["letter"],
}
</script>